@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
    outline: 3px solid rgba(27, 110, 243, 0.6);
}

.listBack {
    background: url(../public/assets/img/img2.jpg);
    object-fit: fill;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

.postBack {
    background: url(../public/assets/img/img3.jpg);
    object-fit: fill;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}